---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Intro from '../components/Intro.astro';
import Services from '../components/Services.astro';
import './src/styles/global.css'
import { getCollection } from 'astro:content';

const blogs = await getCollection('blogs')
---

<Layout title="home">
	<main>
        <Hero />
        <Intro />
        <Services />
    </main>
    </main>
</Layout>
