---
import Layout from "../layouts/Layout.astro"
import './src/styles/global.css'
import HeroWebsiteService from "../components/HeroWebsiteService.astro"
---

<Layout title="Servicio Creación de Páginas Web e Ecommerce">
    <main>
        <HeroWebsiteService>

    </main>
</Layout>


