---
import './src/styles/global.css'
---



<section class="grid grid-cols-2 gap mb-12 px-40 py-20">
    <article class="flex flex-col justify-center gap-3">
        <h1 class="font-[Inter] text-5xl font-semibold text-white text-left text-balance tracking-tighter">
            Somos el  <span class=" bg-linear-to-bl from-pink-600 to-pink-500 bg-clip-text text-transparent"> equipo de marketing </span> que tu empresa necesita
        </h1>
        <p class="font-[Inter] font-normal text-white text-left text-balance">
            Dolore Lorem sint dolor sit dolore commodo laborum dolor velit nulla. Est dolor nostrud exercitation velit reprehenderit tempor ut culpa sint. 
        </p>
        <button class="bg-pink-600 text-white font-medium px-5 py-3 w-fit rounded-sm mb-4 hover:bg-white hover:text-pink-600">Contáctanos</button>
        <span class="text-white">Ellos confian en nosotros</span>
        <div class="grid grid-cols-3 gap-2.5 bg-amber-50 ">
            <img src="" alt="Logo 1">
            <img src="" alt="Logo 2">
            <img src="" alt="Logo 3">
        </div>
    </article>
    <article>
        <img src="/src/assets/hero-image.svg" alt="Imagen ilutrativa de los servicios de La Torre Agencia Digital" class="w-max h-max">
    </article>
</section>