---
import './src/styles/global.css'
---


<section class="grid grid-cols-2 gap mb-12 px-40 py-20">
    <article class="flex flex-col justify-center gap-3">
        <h1 class="font-[Inter] text-5xl font-semibold bg-primary text-left text-balance tracking-tighter">
            Diseñamos sitios web que <span class="bg-linear-to-bl from-pink-600 to-pink-500 bg-clip-text text-transparent">fidelizan</span> y <span class="bg-linear-to-bl from-pink-600 to-pink-500 bg-clip-text text-transparent">convierten visitas en resultados.</span>
        </h1>
        <p class="font-[Inter] font-normal text-white text-left text-balance">
            Construimos la estrategia multicanal ideal para conectar con tu audiencia, aumentar tus ventas y fidelizar clientes 
        </p>
        <button class="bg-pink-600 text-white font-medium px-5 py-3 w-fit rounded-sm mb-4 hover:bg-white hover:text-pink-600">Contáctanos</button>
        <span class="text-white">Ellos confian en nosotros</span>
        <div class="grid grid-cols-3 gap-2.5 bg-amber-50 ">
            <img src="" alt="Logo 1">
            <img src="" alt="Logo 2">
            <img src="" alt="Logo 3">
        </div>
    </article>
    <article>
        <img src="/src/assets/hero-websites.svg" alt="Imagen ilutrativa de los servicios de La Torre Agencia Digital" class="w-max h-max">
    </article>
</section>